[Unit]
Description=Scale up service for video-sip-gateway
After=network-online.target
After=jicofo.service
After=nginx.service

[Service]
User=scaler
Group=scaler
ExecStart=bash /home/scaler/app/scale-up
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
